footer.main-footer
  .pull-right.hidden-xs
    b Version
    |  Modular 0
  strong
    | Copyright © 2014-2018 
    a(href='https://adminlte.io') Almsaeed Studio
    | .
  |  All rights reserved.
  b  
  | Nilam