html
  head
    title Mahasiswa
    link(rel='icon', href='/adminlte/img/icon_dasar.ico', type='image/x-icon')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/Ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='/adminlte/bower_components/jvectormap/jquery-jvectormap.css')
    link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/adminlte/dist/css/skins/_all-skins.min.css')
    script(type='text/javascript', src='/adminlte/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/adminlte/bower_components/jquery/dist/jquery.min.js')
    script(src='/adminlte/bower_components/jquery//adminlte/ajax/script.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')  
    link(rel='stylesheet', href='/adminlte/plugins/timepicker/bootstrap-timepicker.min.css')

  
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        a.logo(href='?tampil=beranda')
          span.logo-mini
            b SMS
          span.logo-lg
            i.fa.fa-send   
            | GO 
            b | SMS Gateway
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
      aside.main-sidebar
        section.sidebar
          include ./sidebar.jade
      .content-wrapper
        section.content-header
            h1
                | SMS Templates
                small 
                    a(href='#')
                        | Send Message
                    | / SMS Template
            ol.breadcrumb
                li
                a(href='index.php')
                    i.fa.fa-dashboard
                    |  Home  
                li.active Dashboard
        section.content
          .row
            .col-xs-12
                .box.box-solid
                  
                  .box-body
                    #accordion.box-group
                      // we are adding the .panel class so bootstrap.js collapse plugin detects it
                      .panel.box.box-primary
                        .box-header.with-border
                          h4.box-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true')
                              | Send SMS Templates to New Phone Number
                        #collapseOne.panel-collapse.collapse.in(aria-expanded='true', style='')
                          .box-body
                            form(role='form')
                              .box-body
                                .form-group
                                  label(for='exampleInputEmail1') Phone Number
                                  input#exampleInputEmail1.form-control(type='email', placeholder='Example : 085946350992 or 6285946350992')
                                .form-group
                                  label Template Message
                                  select.form-control
                                    option option 1
                                    option RANDOM
                                .form-group
                                  label From Modem
                                  select.form-control
                                    option option 1
                                    option RANDOM
                                .form-group
                                  label Date Time Schedule SMS (Leave empty if not scheduled) 
                                  label Server time : 2018-03-02 08:33 GMT+7
                                  .input-group
                                    .input-group-addon
                                      i.fa.fa-calendar
                                    input#datepicker.form-control.pull-right(type='text')
                            .box-footer
                              button.btn.btn-primary(type='submit') SEND

                      .panel.box.box-danger
                        .box-header.with-border
                          h4.box-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                              | Send SMS Template from Phonebook
                        #collapseTwo.panel-collapse.collapse
                          .box-body
                            form(role='form')
                              .box-body
                                .form-group
                                  label Group
                                  select.form-control
                                    option --
                                    option Group 1  
                                    option Group 2
                                .form-group
                                  label Message
                                  textarea.form-control(rows='3', placeholder='Enter ...')
                                .form-group
                                  label From Modem
                                  select.form-control
                                    option option 1
                                    option RANDOM
                                .form-group
                                  label Date Time Schedule SMS (Leave empty if not scheduled) 
                                  label Server time : 2018-03-02 08:33 GMT+7
                                  .input-group
                                    .input-group-addon
                                      i.fa.fa-calendar
                                    input#datepicker1.form-control.pull-right(type='text')
                              .box-footer
                                button.btn.btn-primary(type='submit') SEND

                      .panel.box.box-success
                        .box-header.with-border
                          h4.box-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                              | Send SMS Template to Group
                        #collapseThree.panel-collapse.collapse
                          .box-body
                            form(role='form')
                              .box-body
                                .form-group
                                  label Group
                                  select.form-control
                                    option --
                                    option Group 1  
                                    option Group 2
                                .form-group
                                  label Message
                                  textarea.form-control(rows='3', placeholder='Enter ...')
                                .form-group
                                  label From Modem
                                  select.form-control
                                    option option 1
                                    option RANDOM
                                .form-group
                                  label Date Time Schedule SMS (Leave empty if not scheduled) 
                                  label Server time : 2018-03-02 08:33 GMT+7
                                  .input-group
                                    .input-group-addon
                                      i.fa.fa-calendar
                                    input#datepicker2.form-control.pull-right(type='text')
                                .form-group
                                  label Time picker:
                                  .input-group
                                    input.form-control.timepicker(type='text')
                                    .input-group-addon
                                      i.fa.fa-clock-o
                              .box-footer
                                button.btn.btn-primary(type='submit') SEND
                            
      footer.main-footer
        strong
          | Copyright © 
          a(href='https://adminlte.io') Admin LTE
          | .
        |  Lab Komputer Dasar
      .control-sidebar-bg

    script(src='/adminlte/bower_components/jquery/dist/jquery.min.js')
    script(src='/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/adminlte/plugins/timepicker/bootstrap-timepicker.min.js')
    script(src='/adminlte/bower_components/bootstrap/dist/js/konfirmasi.js')
    script(src='/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/adminlte/bower_components/fastclick/lib/fastclick.js')
    script(src='/adminlte/dist/js/adminlte.min.js')
    script(src='/adminlte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')
    script(src='/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
    script(src='/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
    script(src='/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
    script(src='/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/adminlte/bower_components/Chart.js/Chart.js')
    script(src='/adminlte/bower_components/select2/dist/js/select2.full.min.js')
    script(src='/adminlte/plugins/input-mask/jquery.inputmask.js')
    script(src='/adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js')
    script(src='/adminlte/plugins/input-mask/jquery.inputmask.extensions.js')
    script(src='/adminlte/bower_components/moment/min/moment.min.js')
    script(src='/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js')
    script(src='/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/adminlte/dist/js/pages/dashboard2.js')
    script(src='/adminlte/dist/js/demo.js')
    script.
      $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
      })
      })
    script.
      $('[data-mask]').inputmask()
      $(function () {
      $('.select2').select2()
      $('#reservation').daterangepicker()
      $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'YYYY/MM/DD h:mm A' })
      $('#datepicker').datepicker({
      autoclose: true
      })
      $('#datepicker1').datepicker({
      autoclose: true
      })
      })
    script.
      $('#datepicker').datepicker({
        autoclose: true
      })
    script.
      $('#datepicker1').datepicker({
        autoclose: true
      })
    script.
      $('#datepicker2').datepicker({
        autoclose: true
      })
    script.
      //Timepicker
      $('.timepicker').timepicker({
        showInputs: false
      })
    script.
      $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })


